*{
    margin-top: 5px;
    background-color: bisque;
    font-family: 'Quicksand', sans-serif;
    }
    #conversor{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px 400px 0px 400px;
    }
    #categoria{
        text-align: center;
    }
    
     h1{
        margin-top: 10px; 
    } 
    select, label{
        margin-top: 10px;  
    
    }
    